<% include ../public/partials/metadata %>
<body>
  <div class="container">
    <h1>welcome to index.ejs</h1>
    <a class="btn btn-success" href="/route1" role="button">View 1</a>
    <a class="btn btn-warning" href="/route2" role="button">View 2</a>
  </div>
</body>
