<!-- views/pages/about.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../public/partials/head %>
</head>

<link rel="stylesheet" href="css/index.css">
</head>

<body class="container">

    <header>
        <% include ../public/partials/header %>
    </header>

    <main>

    <div class="jumbotron">
        <div class="container">
            <h1>Kiosked - Innovation Lab</h1>
            <h2>Kiosked Headquarters</h2>

            <p>Pork belly pork chop frankfurter, landjaeger alcatra tri-tip tail cow kevin flank strip steak prosciutto spare ribs jerky kielbasa. Ribeye prosciutto cupim drumstick fatback. Frankfurter turducken fatback, bacon tri-tip chicken meatball venison picanha pancetta flank cupim drumstick ham shank.</p>
            <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login &raquo;</a></p>
        </div>
    </div>

    <!-- END THE FEATURETTES -->
  </main>


  <!-- FOOTER -->
  <% include ../public/partials/footer %>
  <!-- FOOTER -->
  </body>

</html>
