<!-- SCRIPTS AND LINKED FILES GO HERE -->
<% include ../public/partials/header %>

<body>

  <!-- NAV BAR GOES HERE -->
  <% include ../public/partials/navbar %>

  <div class="container">
    <h1>Welcome to Kiosked Script Formatter</h1>
    <a class="btn btn-success" href="/users" role="button">Users</a>
    <a class="btn btn-warning" href="/script_formatter" role="button">Script Formatter</a>

    <!-- JUMBOTRON GOES HERE -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">

        <% include ../public/partials/kssp %>


    </div>


    <!-- FOOTER + JAVASCRIPTS GO HERE -->
    <% include ../public/partials/footer %>
  </div>

</body>

</html>
