<!-- views/pages/about.ejs -->
<!DOCTYPE html>
  <html lang="en">
  <head>
    <% include ../public/partials/head %>
    <link rel="stylesheet" href="css/about.css">
  </head>

  <body class="container">
      <!-- header aka navbar -->
      <header>
          <% include ../public/partials/header %>
      </header>

      <main>

      </main>


      <!-- FOOTER -->
      <% include ../public/partials/footer %>
          <!-- FOOTER -->
    </body>

  </html>
