<!-- SCRIPTS AND LINKED FILES GO HERE -->
<% include ../public/partials/header %>

<body>

  <!-- NAV BAR GOES HERE -->
  <% include ../public/partials/navbar %>
<br>
  <div class="container">

    <div class="jumbotron">
      <h1>Welcome to Users</h1>
      <p>Spicy jalapeno bacon ipsum dolor amet ball tip tongue sirloin, brisket spare ribs drumstick filet mignon ribeye corned beef short ribs shankle. Pork picanha fatback jerky tri-tip turducken shoulder turkey beef ribs chuck tail short loin.</p>
    </div>
    <% include ../public/partials/row_columns %>

    <% include ../public/partials/footer %>
  </div>


</body>
