<!-- SCRIPTS AND LINKED FILES GO HERE -->
<% include ../public/partials/header %>

<body>

  <!-- NAV BAR GOES HERE -->
  <% include ../public/partials/navbar %>

  <div class="container">

    <h1>Welcome to view 1</h1>
    <a class="btn btn-warning" href="/" role="button">Index</a>
    <a class="btn btn-success" href="/script_formatter" role="button">View 2</a>

    <div class="jumbotron">
      <h1>Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    <% include ../public/partials/row_columns %>

    <% include ../public/partials/footer %>
  </div>


</body>
