<!-- SCRIPTS AND LINKED FILES GO HERE -->
<% include ../public/partials/header %>

<body>

  <!-- NAV BAR GOES HERE -->
  <% include ../public/partials/navbar %>

  <div class="container">

    <h1>Welcome to view 1</h1>
    <a class="btn btn-warning" href="/" role="button">Index</a>
    <a class="btn btn-success" href="/route2" role="button">View 2</a>

    <!-- JUMBOTRON GOES HERE -->
    <% include ../public/partials/jumbotron %>

  </div>

    <!-- FOOTER + JAVASCRIPTS GO HERE -->
  <% include ../public/partials/footer %>

</body>
