<body class="api">
    <a id="forkbanner" href="http://github.com/Automattic/mongoose"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div id="links">
        <div id="header">
            <h1><a href="../index.html"><div class="mongoose">kiosked hq</div></a></h1></div>
        <ul>
            <li class="home"><a href="/">home</a></li>
            <li class="faq"><a href="./faq.html">FAQ</a></li>
            <!-- <li class="plugins"><a href="http://plugins.mongoosejs.io">plugins</a></li> -->
            <!-- <li class="changelog"><a href="http://github.com/seangeleno/kiosked-tool/tree/master/History.md">change log</a></li> -->
            <li class="support"><a href="../index.html#support">support</a></li>
            <li class="fork"><a href="http://github.com/Automattic/mongoose">fork</a></li>
            <li class="guide"><a href="./guide.html">guide</a></li>
            <!-- <li class="api"><a href="./api.html">API docs</a></li> -->
            <li class="quickstart"><a href="./index.html">quick start</a></li>
            <li class="contrib"><a href="http://github.com/Automattic/mongoose/contributors">contributors</a></li>
            <li class="prior"><a href="./prior.html">prior releases</a></li>
        </ul>
    </div>
