
<footer>
    <p>&copy; 2016 Kiosked</p>
    <p>Made with <3 by Sean Esteva</p>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/logic.js" charset="utf-8"></script>
