<link rel="stylesheet" href="css/jumbotron.css">
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Kiosked Headquarters</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7bMYhJ_UqnE" frameborder="0" allowfullscreen></iframe>
        <p>Pork belly pork chop frankfurter, landjaeger alcatra tri-tip tail cow kevin flank strip steak prosciutto spare ribs jerky kielbasa. Ribeye prosciutto cupim drumstick fatback. Frankfurter turducken fatback, bacon tri-tip chicken meatball venison picanha pancetta flank cupim drumstick ham shank.</p>
        <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
    </div>
</div>
