<label for="basic-url">Kiosked Supply Side Provider (KSSP) Formatter Input Section</label>
<div class="input-group">
    <!-- <span class="input-group-addon" id="basic-addon3">region</span>
    <input type="text" class="dropdown form-control" id="region" aria-describedby="basic-addon3"> -->

    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Region <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">NA</a></li>
          <li><a href="#">EMEA</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">APAC</a></li>
        </ul>
      </div><!-- /btn-group -->

    <span class="input-group-addon" id="basic-addon3">http://</span>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">

    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Size <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">728x90</a></li>
          <li><a href="#">320x50</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">300x250</a></li>
        </ul>
      </div><!-- /btn-group -->
</div>
<br>

<!-- Split button -->
<div class="btn-group">
  <!-- drop down button below -->
  <button type="button" class="btn btn-success">KSSP Formats</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="caret"></span>
  <span class="sr-only">KSSP Formats</span>
  </button>

  <ul class="dropdown-menu">
  <li><a href="#">Section Layout</a></li>
  <li><a href="#">Section</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="#">Campaign</a></li>
  <li><a href="#">Line Item</a></li>
  <li><a href="#">Creative</a></li>
  </ul>
</div>
