<form class="navbar-form navbar-right" method="POST" action="/route1">
  <div class="form-group">
    <input type="text" placeholder="Email" name="email" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" name="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
</form>
